{% comment %}
  Display a single person entry in grid or list format
{% endcomment %}

{% if include.type == "grid" %}
  <article class="archive__item" itemscope itemtype="https://schema.org/Person">
    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
      </div>
    {% endif %}
    <h3 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h3>
    {% if post.jobtitle %}
      <p class="archive__item-excerpt" itemprop="jobTitle">{{ post.jobtitle }}</p>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
  </article>
{% else %}
  <article class="archive__item" itemscope itemtype="https://schema.org/Person">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h3>
    {% if post.jobtitle %}
      <p class="page__meta"><strong>{{ post.jobtitle }}</strong></p>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
  </article>
{% endif %}